@import "tailwindcss";

@theme {
    --color-primary-dark: #0F172B;
    --color-secondary-dark: #90A1B9;
    --color-usual-orange: #FFB86A;
    --color-primary-light: #FFF;

}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
} */